.count-card {
	position: relative;
	top: -5rem;
	background-color: rgba($color: $background_color_1, $alpha: 0.7);
}

.counts {
	padding-top: 0;

	.counters {
		padding: 0.5rem 1rem;

		.count-box {
			// background-color: $color_2;
			padding: 1rem;

			h4 {
				font-size: 3rem;
				font-family: $font_family_2;
				font-weight: 600;
				@include text-gradient;
			}

			h5 {
				margin: 0;
				font-weight: 600;
				color: $text_color_1;
			}

			p {
				margin-top: 0.5rem;
				font-family: $font_family_2;
				font-weight: 300;
				color: $text_color_2;
			}

			&:nth-child(2) {
				border-left: 2px solid rgba($color: $text_color_2, $alpha: 0.1);
				border-right: 2px solid rgba($color: $text_color_2, $alpha: 0.1);
			}
		}
	}
}

.highlight {
	transform: translate(0%, -10%);

	.card {
		box-shadow: none;
		background-color: transparent;
		height: 100%;
		width: 100%;

		padding: 0rem 2.5rem;

		.ren-card {
			cursor: pointer;
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 2rem;
			overflow: hidden;

			background-color: $color_1;
			background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-working.jpg');
			background-size: cover;

			display: flex;
			justify-content: center;
			align-items: center;

			transform-style: preserve-3d;

			img {
				transform: translateZ(20px);
				z-index: 1;
				width: 80%;
			}

			&::after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;

				background-image: linear-gradient(310deg, $color_4, $color_3);
				opacity: 0.85;
			}

		}
	}


	.icon-box {
		padding: 2rem;
		position: relative;
		overflow: hidden;
		border-radius: 1rem;
		background: #fff;
		box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
		transition: all 0.3s ease-in-out;
		width: 100%;
		height: 100%;

		@include blur;

		&:hover {
			transform: translateY(-0.5rem);
			box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
		}
	}

	.icon {
		position: absolute;
		left: -20px;
		top: calc(50% - 2rem);

		i {
			color: $color_3;
			font-size: 64px;
			line-height: 1;
			transition: 0.5s;
		}
	}

	.title,
	h4 {
		margin-left: 40px;
		font-weight: 700;
		margin-bottom: 0.8rem;
		font-size: 18px;
		@include text-color;
		transition: all ease-in-out 0.3s;

		&:hover {
			@include text-gradient;
		}
	}

	.description {
		color: $text_color_2;
		margin-left: 40px;
		line-height: 24px;
		margin-bottom: 0;
	}
}

.page-header {
	padding: 3rem;
	position: relative;
	border-radius: 2rem;

	.in-text {
		position: relative;
		z-index: 2;

		h4 {
			opacity: 0.5;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		background-color: rgba($color: $dark_color_1, $alpha: 0.75);
		z-index: 1;
	}
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
	overflow: visible;
}
.testimonials {
	.testimonial-item {
		border-radius: 1.5rem;
		box-sizing: content-box;
		padding: 2rem 2rem 0 2rem;
		margin: 2rem 0.8rem;
		text-align: center;
		min-height: 350px;
		box-shadow: $shadow_1;
		.testimonial-img {
			width: 90px;
			border-radius: 50%;
			border: 4px solid #fff;
			margin: 0 auto;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: #111;
		}
		h4 {
			font-size: 14px;
			color: #999;
			margin: 0;
			margin-bottom: 1rem;
		}
		.quote-icon-left {
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 auto 0.8rem auto;
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: #fff;
			opacity: 1;
			border: 1px solid $color_3;
		}
		.swiper-pagination-bullet-active {
			background: $gradient_1;
		}
	}
}
.testimonials .testimonial-item{
	.quote-icon-right,.quote-icon-left {
		@include text-gradient;
		opacity: 0.2;
		font-size: 1rem;
		transform: scale(1.5);
	}
	.quote-icon-right{
		transform: scale(1.5) translateY(-45%);
	}
}