$ss-xm: 480px;
$ss-sm: 768px;
$ss-md: 992px;
$ss-lg: 1200px;

$white: #fff;

$color_1:#EDD9F1;
$color_2:#e2b1e5;
$color_3:#d63384;
$color_4:#812DA3;
$color_5:#6f42c1;
$color_7:#596CFF;
$color_8:#3D1C87;
$color_9:#432464;
$color_10:#130b1b;

$color_error: #FC4F4F;
$color_success: #21BF73;

$background_color_1: #fafafa;
$background_color_2: #EFEFEF;
$background_color_3: #EDD9F1;

$font_family_1: 'Open Sans', sans-serif;
$font_family_2: 'Poppins', sans-serif;