$ss-xm: 480px;
$ss-sm: 768px;
$ss-md: 992px;
$ss-lg: 1200px;

$white: #fff;
$black: #000;
$gray: rgb(20, 20, 20);

$color_1:#EDD9F1;
$color_2:#e2b1e5;
$color_3:#FF0080;
$color_4:#7928CA ;
$color_5:#6f42c1;
$color_7:#596CFF;
$color_8:#3D1C87;
$color_9:#432464;
$color_10:#130b1b;

$color_error: #FC4F4F;
$color_success: #21BF73;

$background_color_1: #fafafa;
$background_color_2: #eaeaea;
$background_color_3: #EDD9F1;

$font_family_1: 'Open Sans', sans-serif;
$font_family_2: 'Poppins', sans-serif;

$dark_color_1:#344767;
$dark_color_2:#67748e;

$text_color_1: #344767;
$text_color_2: #67748e;

$gradient_1: linear-gradient(322deg, $color_4 0%, $color_3 68%);


@mixin blur {
    background: rgba($color: $background_color_1, $alpha: 0.5);
    backdrop-filter: blur(1rem);
}

@mixin text-color {
    background: $color_3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin text-gradient {
    background: linear-gradient(322deg, $color_4 0%, $color_3 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

$shadow_1: 0px 0 30px rgba($color: $dark_color_1, $alpha: 0.1);
$shadow_2: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
$shadow_2: 0 2px 35px 0 rgba(68, 88, 144, 0.2)
