@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
}

::-webkit-scrollbar-track {
  background-color: #EDD9F1;
}

::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #7928CA;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  color: #FF0080;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #7928CA;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #344767;
  font-weight: 700;
}

p {
  color: #67748e;
  font-family: "Poppins", sans-serif;
}

.btn {
  font-size: 1rem;
  color: #EDD9F1;
  background-color: #e2b1e5;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none;
  color: #EDD9F1;
  background-color: #e2b1e5;
}
.btn:hover {
  color: #EDD9F1;
  background-color: #FF0080;
}

main {
  width: 100%;
}

.box-shadow {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

section {
  width: 100%;
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .inner-section {
  margin: 5rem 0rem;
}
section .inner-section:nth-child(1) {
  margin: 0rem 0rem;
}

.section-bg {
  background-color: #f9f9fa;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #344767;
  background: #FF0080;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  top: 2rem;
  color: #f0f1f3;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 4rem;
  line-height: 0;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  color: #67748e;
  z-index: 2;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(310deg, #7928CA 0%, #FF0080 68%);
}

.text-color-dim {
  color: #67748e;
}

.card {
  border: none;
  border-radius: 1rem;
  background: rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(1rem);
  box-shadow: 0px 0 30px rgba(52, 71, 103, 0.1);
}
.card .card-header,
.card .card-footer {
  border-color: #EDD9F1;
  background-color: #fff;
  color: rgba(226, 177, 229, 0.5);
  padding: 1rem;
}
.card .card-title {
  padding: 1.2rem 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(121, 40, 202, 0.85);
  font-family: "Poppins", sans-serif;
}
.card .card-title span {
  color: rgba(121, 40, 202, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.card .card-body {
  padding: 0 1.2rem 1.2rem 1.2rem;
}
.card .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

form input,
form .form-control {
  box-shadow: none;
  border-radius: 0.1rem;
  margin: 0.25rem;
  height: 2.5rem;
}
form input:active, form input:focus,
form .form-control:active,
form .form-control:focus {
  border: 1px solid #e2b1e5;
  box-shadow: none;
}
form .btn {
  background-color: #e2b1e5;
  color: #EDD9F1;
  border-radius: 0.1rem;
  transition: all 0.3s ease-in-out;
}
form .btn:active, form .btn:hover, form .btn:focus {
  border: 1px solid #EDD9F1;
  color: #EDD9F1;
  background-color: #FF0080;
}

.forms {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 3.4px 0px 0.8rem rgba(0, 0, 0, 0.05), 27px 0px 80px rgba(0, 0, 0, 0.1);
}
.forms .error {
  text-align: center;
  color: #FC4F4F;
}
.forms .log_head {
  text-align: center;
  margin-bottom: 2.5rem;
}
.forms .log_head h3 {
  color: #7928CA;
}
.forms .log_head h3 span {
  color: #e2b1e5;
  font-weight: 700;
}
.forms .log_head p {
  color: rgba(121, 40, 202, 0.5);
}
.forms form {
  margin: 0.5rem 0rem;
}
.forms form .form-group {
  margin: 1rem 0rem;
  margin-top: 1.5rem;
  color: rgba(121, 40, 202, 0.9);
}
.forms form .form-group input {
  height: 2.7rem;
  border-radius: 0.1rem;
  border: 1px solid rgba(121, 40, 202, 0.1);
  color: #7928CA;
  font-family: "Poppins", sans-serif;
}
.forms form .form-group input:active, .forms form .form-group input:focus {
  box-shadow: none;
  border: 1px solid #e2b1e5;
}
.forms form .form-group input::placeholder {
  color: rgba(121, 40, 202, 0.4);
}
.forms form .forgot {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-decoration: underline;
  color: rgba(121, 40, 202, 0.8);
}
.forms form .forgot a {
  color: rgba(121, 40, 202, 0.5);
}
.forms form button {
  width: 100%;
  background-color: #e2b1e5;
  border: none;
  padding: 0.6rem 1.5rem;
  margin: 1rem 0rem;
  color: #EDD9F1;
  transition: all 0.3s ease-in-out;
}
.forms form button:hover {
  background-color: #7928CA;
}
.forms .log_footer {
  text-align: center;
  font-size: 0.8rem;
}
.forms .log_footer a {
  font-weight: 600;
}

.icon-move-right i {
  transition: all 0.2s cubic-bezier(0.34, 1.61, 0.7, 1.3);
}

.icon-move-right:hover i,
.icon-move-right:focus i {
  transform: translateX(5px);
}

.icon-move-left i {
  transition: all 0.2s cubic-bezier(0.34, 1.61, 0.7, 1.3);
}

.icon-move-left:hover i,
.icon-move-left:focus i {
  transform: translateX(-5px);
}

.img {
  width: 100%;
  height: 100%;
  position: relative;
}
.img img {
  height: auto;
  width: 100%;
  border-radius: 1.5rem;
}
.img::after {
  content: "";
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  opacity: 0;
}

.bg-rt::before {
  content: "";
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -2rem;
  top: -2rem;
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  z-index: -1;
}

.bg-lt::before {
  content: "";
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -2rem;
  top: -2rem;
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  z-index: -1;
}

.bg-rb::before {
  content: "";
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  right: -2rem;
  bottom: -2rem;
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  z-index: -1;
}

.bg-lb::before {
  content: "";
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -2rem;
  bottom: -2rem;
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  z-index: -1;
}

#header {
  background: transparent;
  z-index: 997;
  padding: 0.5rem 0;
  max-width: 100vw;
}
#header .logo {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(30deg, #7928CA, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header .logo img {
  max-height: 2.5rem;
}
#header .logo img::selection {
  background-color: none;
}
@media (max-width: 992px) {
  #header {
    padding: 1rem 0rem;
  }
}

.navbar {
  padding: 0;
}
.navbar .btn {
  margin: 0 1rem;
}
.navbar .nav-items {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-items .nav-item {
  position: relative;
}
.navbar .nav-items .nav-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.75rem 0.25rem;
  font-size: 1rem;
  color: #e2b1e5;
  padding: 0.2rem 1.3rem;
  border-radius: 2rem;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-items .nav-item a i {
  font-size: 1rem;
  line-height: 0;
  margin-left: 5px;
}
.navbar .nav-items .nav-item a:hover, .navbar .nav-items .nav-item a.active {
  color: #EDD9F1;
  background: rgba(237, 217, 241, 0.3);
  backdrop-filter: blur(1rem);
}
.navbar .nav-items .nav-item a.active {
  font-weight: 500;
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  box-shadow: 0px 2px 1rem rgba(18, 66, 101, 0.08);
}
#header.header-scrolled .navbar .nav-items .nav-item a {
  color: #fff;
}
#header.header-scrolled .navbar .nav-items .nav-item a:hover, #header.header-scrolled .navbar .nav-items .nav-item a.active {
  color: #344767;
  background: white;
  backdrop-filter: blur(1rem);
}

.harmburger {
  cursor: pointer;
  display: none;
  margin: 0rem 0.5rem;
}
.harmburger .lin {
  background-color: #EDD9F1;
  height: 0.15rem;
  border-radius: 1rem;
  width: 1.7rem;
  margin: 0.4rem 0rem;
  transition: all 0.5s ease-in-out;
}
.harmburger.active {
  margin: 0rem;
}
.harmburger.active .lin {
  background-color: #EDD9F1;
}
.harmburger.active .lin:nth-child(1) {
  transform: translate(0, 350%) rotate(45deg);
}
.harmburger.active .lin:nth-child(2) {
  opacity: 0;
}
.harmburger.active .lin:nth-child(3) {
  transform: translate(0, -350%) rotate(-45deg);
}

@media (max-width: 992px) {
  .harmburger {
    display: block;
  }
  .navbar .nav-ul {
    display: none;
  }
}
.navbar-mobile {
  overflow: hidden;
  max-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 100vw;
  background: rgba(19, 11, 27, 0.8);
  transition: all 0.3s ease;
  z-index: 999;
}
.navbar-mobile .btn {
  display: none;
}
.navbar-mobile .harmburger {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.navbar-mobile .nav-ul {
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  padding: 1.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2rem);
  border-radius: 2rem;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile .nav-ul .nav-li a {
  border-radius: 1rem;
  margin: 0;
  font-size: 1.1rem;
  padding: 0.5rem 1.5rem;
  color: #FF0080;
}
.navbar-mobile .nav-ul .nav-li a.active {
  color: #EDD9F1;
  background-color: #FF0080;
  background: linear-gradient(30deg, #FF0080, #7928CA);
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: #fafafa;
  color: #130b1b;
  border-top: 1px solid rgba(19, 11, 27, 0.1);
}
footer .cc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  font-size: 0.8rem;
}
footer .cc .credits a {
  font-weight: 800;
  color: #FF0080;
}
footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-links a {
  background-color: #edd9f1;
  margin: 0rem 0.2rem;
  padding: 0.15rem 0.3rem;
  border-radius: 5rem;
  transition: all 0.3s ease;
  color: #FF0080;
}
footer .social-links a .ico {
  width: 1rem;
  height: 1rem;
}
footer .social-links a:hover {
  background-color: #ff0080;
  color: #EDD9F1;
}

#hero {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #EDD9F1;
  padding: 0;
  background: linear-gradient(-45deg, #FF0080, #7928CA, #FF0080, #7928CA);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  display: flex;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#hero .stars {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
#hero .star {
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: #EDD9F1;
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
#hero .star:nth-child(1) {
  --star-tail-length: 5.2em;
  --top-offset: 71.41vh;
  --fall-duration: 7.879s;
  --fall-delay: 9.43s;
}
#hero .star:nth-child(2) {
  --star-tail-length: 7.45em;
  --top-offset: 71.86vh;
  --fall-duration: 10.489s;
  --fall-delay: 1.645s;
}
#hero .star:nth-child(3) {
  --star-tail-length: 6.45em;
  --top-offset: 66.72vh;
  --fall-duration: 9.049s;
  --fall-delay: 0.593s;
}
#hero .star:nth-child(4) {
  --star-tail-length: 7.48em;
  --top-offset: 79.85vh;
  --fall-duration: 8.857s;
  --fall-delay: 6.401s;
}
#hero .star:nth-child(5) {
  --star-tail-length: 5.01em;
  --top-offset: 33.31vh;
  --fall-duration: 8.233s;
  --fall-delay: 5.908s;
}
#hero .star:nth-child(6) {
  --star-tail-length: 6.33em;
  --top-offset: 42.01vh;
  --fall-duration: 11.395s;
  --fall-delay: 3.436s;
}
#hero .star:nth-child(7) {
  --star-tail-length: 5.48em;
  --top-offset: 31.19vh;
  --fall-duration: 9.242s;
  --fall-delay: 9.079s;
}
#hero .star:nth-child(8) {
  --star-tail-length: 6.61em;
  --top-offset: 80.06vh;
  --fall-duration: 10.451s;
  --fall-delay: 5.854s;
}
#hero .star:nth-child(9) {
  --star-tail-length: 7.43em;
  --top-offset: 11.87vh;
  --fall-duration: 7.671s;
  --fall-delay: 1.239s;
}
#hero .star:nth-child(10) {
  --star-tail-length: 6.9em;
  --top-offset: 50.25vh;
  --fall-duration: 10.607s;
  --fall-delay: 5.204s;
}
#hero .star:nth-child(11) {
  --star-tail-length: 6.55em;
  --top-offset: 78.36vh;
  --fall-duration: 9.664s;
  --fall-delay: 0.997s;
}
#hero .star:nth-child(12) {
  --star-tail-length: 5.42em;
  --top-offset: 6.16vh;
  --fall-duration: 8.137s;
  --fall-delay: 0.777s;
}
#hero .star:nth-child(13) {
  --star-tail-length: 7.2em;
  --top-offset: 97.55vh;
  --fall-duration: 6.763s;
  --fall-delay: 0.008s;
}
#hero .star:nth-child(14) {
  --star-tail-length: 5.26em;
  --top-offset: 10.31vh;
  --fall-duration: 8.378s;
  --fall-delay: 7.121s;
}
#hero .star:nth-child(15) {
  --star-tail-length: 5.37em;
  --top-offset: 3.08vh;
  --fall-duration: 8.954s;
  --fall-delay: 6.389s;
}
#hero .star:nth-child(16) {
  --star-tail-length: 5.15em;
  --top-offset: 20.6vh;
  --fall-duration: 6.914s;
  --fall-delay: 9.615s;
}
#hero .star:nth-child(17) {
  --star-tail-length: 6.52em;
  --top-offset: 53.67vh;
  --fall-duration: 7.774s;
  --fall-delay: 7.246s;
}
#hero .star:nth-child(18) {
  --star-tail-length: 6.23em;
  --top-offset: 70.84vh;
  --fall-duration: 8.113s;
  --fall-delay: 2.217s;
}
#hero .star:nth-child(19) {
  --star-tail-length: 7.26em;
  --top-offset: 42.8vh;
  --fall-duration: 10.101s;
  --fall-delay: 8.581s;
}
#hero .star:nth-child(20) {
  --star-tail-length: 5.32em;
  --top-offset: 30.47vh;
  --fall-duration: 7.783s;
  --fall-delay: 7.538s;
}
#hero .star:nth-child(21) {
  --star-tail-length: 5.93em;
  --top-offset: 62.08vh;
  --fall-duration: 7.572s;
  --fall-delay: 9.875s;
}
#hero .star:nth-child(22) {
  --star-tail-length: 6.03em;
  --top-offset: 18.98vh;
  --fall-duration: 7.201s;
  --fall-delay: 0.312s;
}
#hero .star:nth-child(23) {
  --star-tail-length: 5.89em;
  --top-offset: 32.58vh;
  --fall-duration: 10.126s;
  --fall-delay: 8.997s;
}
#hero .star:nth-child(24) {
  --star-tail-length: 7.23em;
  --top-offset: 75.81vh;
  --fall-duration: 9.428s;
  --fall-delay: 0.729s;
}
#hero .star:nth-child(25) {
  --star-tail-length: 6.67em;
  --top-offset: 46.41vh;
  --fall-duration: 8.705s;
  --fall-delay: 4.795s;
}
#hero .star:nth-child(26) {
  --star-tail-length: 6.93em;
  --top-offset: 98.18vh;
  --fall-duration: 9.773s;
  --fall-delay: 7.339s;
}
#hero .star:nth-child(27) {
  --star-tail-length: 6.51em;
  --top-offset: 90.87vh;
  --fall-duration: 7.857s;
  --fall-delay: 3.997s;
}
#hero .star:nth-child(28) {
  --star-tail-length: 6.86em;
  --top-offset: 11.6vh;
  --fall-duration: 10.518s;
  --fall-delay: 2.165s;
}
#hero .star:nth-child(29) {
  --star-tail-length: 5.37em;
  --top-offset: 27.21vh;
  --fall-duration: 10.414s;
  --fall-delay: 2.148s;
}
#hero .star:nth-child(30) {
  --star-tail-length: 6.34em;
  --top-offset: 12.5vh;
  --fall-duration: 7.166s;
  --fall-delay: 6.446s;
}
#hero .star:nth-child(31) {
  --star-tail-length: 7.32em;
  --top-offset: 43.24vh;
  --fall-duration: 11.406s;
  --fall-delay: 3.208s;
}
#hero .star:nth-child(32) {
  --star-tail-length: 5.12em;
  --top-offset: 60.65vh;
  --fall-duration: 8.735s;
  --fall-delay: 7.604s;
}
#hero .star:nth-child(33) {
  --star-tail-length: 5.34em;
  --top-offset: 76.85vh;
  --fall-duration: 8.307s;
  --fall-delay: 6.043s;
}
#hero .star:nth-child(34) {
  --star-tail-length: 6.84em;
  --top-offset: 9.84vh;
  --fall-duration: 7.768s;
  --fall-delay: 9.604s;
}
#hero .star:nth-child(35) {
  --star-tail-length: 5.43em;
  --top-offset: 52.09vh;
  --fall-duration: 8.526s;
  --fall-delay: 3.983s;
}
#hero .star:nth-child(36) {
  --star-tail-length: 5.5em;
  --top-offset: 38.7vh;
  --fall-duration: 10.096s;
  --fall-delay: 3.004s;
}
#hero .star:nth-child(37) {
  --star-tail-length: 6.33em;
  --top-offset: 4.49vh;
  --fall-duration: 11.955s;
  --fall-delay: 2.384s;
}
#hero .star:nth-child(38) {
  --star-tail-length: 5.85em;
  --top-offset: 90.76vh;
  --fall-duration: 9.401s;
  --fall-delay: 0.137s;
}
#hero .star:nth-child(39) {
  --star-tail-length: 5.05em;
  --top-offset: 33.66vh;
  --fall-duration: 9.252s;
  --fall-delay: 2.559s;
}
#hero .star:nth-child(40) {
  --star-tail-length: 6.68em;
  --top-offset: 78.79vh;
  --fall-duration: 8.123s;
  --fall-delay: 5.724s;
}
#hero .star:nth-child(41) {
  --star-tail-length: 6.73em;
  --top-offset: 63.3vh;
  --fall-duration: 11.099s;
  --fall-delay: 6.802s;
}
#hero .star:nth-child(42) {
  --star-tail-length: 5.48em;
  --top-offset: 75.13vh;
  --fall-duration: 10.775s;
  --fall-delay: 4.739s;
}
#hero .star:nth-child(43) {
  --star-tail-length: 7.38em;
  --top-offset: 94.57vh;
  --fall-duration: 11.784s;
  --fall-delay: 5.699s;
}
#hero .star:nth-child(44) {
  --star-tail-length: 5.83em;
  --top-offset: 22.27vh;
  --fall-duration: 7.936s;
  --fall-delay: 7.431s;
}
#hero .star:nth-child(45) {
  --star-tail-length: 5.48em;
  --top-offset: 93.75vh;
  --fall-duration: 10.87s;
  --fall-delay: 2.36s;
}
#hero .star:nth-child(46) {
  --star-tail-length: 6.03em;
  --top-offset: 2.97vh;
  --fall-duration: 11.509s;
  --fall-delay: 5.329s;
}
#hero .star:nth-child(47) {
  --star-tail-length: 7.29em;
  --top-offset: 85.51vh;
  --fall-duration: 10.48s;
  --fall-delay: 9.585s;
}
#hero .star:nth-child(48) {
  --star-tail-length: 6.2em;
  --top-offset: 2.25vh;
  --fall-duration: 7.979s;
  --fall-delay: 1.805s;
}
#hero .star:nth-child(49) {
  --star-tail-length: 5.8em;
  --top-offset: 14.28vh;
  --fall-duration: 10.887s;
  --fall-delay: 5.637s;
}
#hero .star:nth-child(50) {
  --star-tail-length: 5.38em;
  --top-offset: 35.89vh;
  --fall-duration: 7.919s;
  --fall-delay: 0.251s;
}
#hero .star::before, #hero .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
#hero .star::before {
  transform: rotate(45deg);
}
#hero .star::after {
  transform: rotate(-45deg);
}
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  padding-top: 60px;
}
#hero h2 {
  color: #fff;
  font-weight: 700;
  font-size: 5rem;
  transition: all 0.3s ease-in-out;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 20px rgba(237, 217, 241, 0.4);
  }
  to {
    text-shadow: 0 0 30px #fff, 0 0 10px #EDD9F1;
  }
}
#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #ef6603;
}
#hero .btn-get-started:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-width: 768px) {
  #hero {
    min-height: 50vh;
    height: auto;
  }
  #hero .carousel-container {
    height: 90vh;
  }
  #hero h2 {
    font-size: 2.5rem;
  }
}
.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 9s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 8s linear infinite;
  animation-delay: -2s;
}

.wave4 use {
  animation: move-forever4 7s linear infinite;
  animation-delay: -2s;
}

.wave5 use {
  animation: move-forever5 6s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-95px, 0%);
  }
  100% {
    transform: translate(80px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-100px, 0%);
  }
  100% {
    transform: translate(75px, 0%);
  }
}
@keyframes move-forever5 {
  0% {
    transform: translate(-105px, 0%);
  }
  100% {
    transform: translate(70px, 0%);
  }
}
.count-card {
  position: relative;
  top: -5rem;
  background-color: rgba(250, 250, 250, 0.7);
}

.counts {
  padding-top: 0;
}
.counts .counters {
  padding: 0.5rem 1rem;
}
.counts .counters .count-box {
  padding: 1rem;
}
.counts .counters .count-box h4 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.counts .counters .count-box h5 {
  margin: 0;
  font-weight: 600;
  color: #344767;
}
.counts .counters .count-box p {
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #67748e;
}
.counts .counters .count-box:nth-child(2) {
  border-left: 2px solid rgba(103, 116, 142, 0.1);
  border-right: 2px solid rgba(103, 116, 142, 0.1);
}

.highlight {
  transform: translate(0%, -10%);
}
.highlight .card {
  box-shadow: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 0rem 2.5rem;
}
.highlight .card .ren-card {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #EDD9F1;
  background-image: url("https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-working.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.highlight .card .ren-card img {
  transform: translateZ(20px);
  z-index: 1;
  width: 80%;
}
.highlight .card .ren-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(310deg, #7928CA, #FF0080);
  opacity: 0.85;
}
.highlight .icon-box {
  padding: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(1rem);
}
.highlight .icon-box:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2px 35px 0 rgba(68, 88, 144, 0.2);
}
.highlight .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 2rem);
}
.highlight .icon i {
  color: #FF0080;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}
.highlight .title,
.highlight h4 {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 0.8rem;
  font-size: 18px;
  background: #FF0080;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease-in-out 0.3s;
}
.highlight .title:hover,
.highlight h4:hover {
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.highlight .description {
  color: #67748e;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

.page-header {
  padding: 3rem;
  position: relative;
  border-radius: 2rem;
}
.page-header .in-text {
  position: relative;
  z-index: 2;
}
.page-header .in-text h4 {
  opacity: 0.5;
}
.page-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: rgba(52, 71, 103, 0.75);
  z-index: 1;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: visible;
}

.testimonials .testimonial-item {
  border-radius: 1.5rem;
  box-sizing: content-box;
  padding: 2rem 2rem 0 2rem;
  margin: 2rem 0.8rem;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 0 30px rgba(52, 71, 103, 0.1);
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
  margin-bottom: 1rem;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 0.8rem auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #FF0080;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
}

.testimonials .testimonial-item .quote-icon-right,
.testimonials .testimonial-item .quote-icon-left {
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.2;
  font-size: 1rem;
  transform: scale(1.5);
}
.testimonials .testimonial-item .quote-icon-right {
  transform: scale(1.5) translateY(-45%);
}

#events .card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 1.5rem;
  padding: 0;
  background-color: #eaeaea;
  box-shadow: 0px 0 30px rgba(52, 71, 103, 0.1);
  position: relative;
  transition: all 0.3s ease-in-out;
}
#events .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 48%);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
#events .card .card-body {
  padding: 2rem;
  padding-top: 0.5rem;
}
#events .card .card-body .card-title {
  color: #344767;
  transition: all 0.3s ease-in-out;
}
#events .card .card-body .card-text {
  color: #67748e;
  transition: all 0.3s ease-in-out;
}
#events .card .card-body a {
  background: linear-gradient(322deg, #7928CA 0%, #FF0080 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
#events .card .card-body a:hover i:hover {
  color: #fff;
}
#events .card:hover .card-body .card-title {
  color: #fff;
}
#events .card:hover .card-body .card-text {
  color: rgba(255, 255, 255, 0.8);
}
#events .card:hover .card-body a {
  font-weight: 700;
  background: linear-gradient(322deg, #fff 0%, #fff 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#events .card:hover .card-body a:hover .icon-move-right i {
  color: #fff;
}
#events .card:hover::after {
  opacity: 1;
}

.img-box, #img-box {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-box img, #img-box img {
  position: relative;
}
.img-box img::after, #img-box img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  z-index: 1;
}