#hero {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: $color_3;
    padding: 0;
    background: linear-gradient(-45deg, $color_3, $color_4, $color_3, $color_4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }


    @function random_range($min, $max) {
        $rand: random();
        $random_range: $min +floor($rand * (($max - $min) + 1));
        @return $random_range;
    }

    .stars {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        transform: rotate(-45deg);
    }

    .star {
        $star-count: 50;
        // --star-color: ;
        --star-tail-length: 6em;
        --star-tail-height: 2px;
        --star-width: calc(var(--star-tail-length) / 6);
        --fall-duration: 9s;
        --tail-fade-duration: var(--fall-duration);

        position: absolute;
        top: var(--top-offset);
        left: 0;
        width: var(--star-tail-length);
        height: var(--star-tail-height);
        color: $color_1;
        background: linear-gradient(45deg, currentColor, transparent);
        border-radius: 50%;
        filter: drop-shadow(0 0 6px currentColor);
        transform: translate3d(104em, 0, 0);
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;


        @for $i from 1 through $star-count {
            &:nth-child(#{$i}) {
                --star-tail-length: #{random_range(500em, 750em) / 100};
                --top-offset: #{random_range(0vh, 10000vh) / 100};
                --fall-duration: #{random_range(6000, 12000s) / 1000};
                --fall-delay: #{random_range(0, 10000s) / 1000};
            }
        }

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: calc(var(--star-width) / -2);
            width: var(--star-width);
            height: 100%;
            background: linear-gradient(45deg, transparent, currentColor, transparent);
            border-radius: inherit;
            animation: blink 2s linear infinite;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    @keyframes fall {
        to {
            transform: translate3d(-30em, 0, 0);
        }
    }

    @keyframes tail-fade {

        0%,
        50% {
            width: var(--star-tail-length);
            opacity: 1;
        }

        70%,
        80% {
            width: 0;
            opacity: 0.4;
        }

        100% {
            width: 0;
            opacity: 0;
        }
    }

    @keyframes blink {
        50% {
            opacity: 0.6;
        }
    }

    .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        height: 70vh;
        padding-top: 60px;
    }

    h2 {
        color: #fff;
        font-weight: 700;
        font-size: 5rem;
        transition: all 0.3s ease-in-out;
        animation: glow 2s ease-in-out infinite alternate;

        @keyframes glow {
            from {
              text-shadow: 0 0 20px rgba($color: $color_1, $alpha: 0.4);
            }
            to {
              text-shadow: 0 0 30px $white, 0 0 10px $color_1;
            }
          }
    }


    p {
        width: 80%;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        margin: 0 auto 30px auto;
        color: #fff;
    }

    .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        border: 2px solid #ef6603;

        &:hover {
            background: #ef6603;
            color: #fff;
            text-decoration: none;
        }
    }

}


#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}



@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }

    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px) {
    #hero{
        min-height: 50vh;
        height: auto;
    }

    #hero .carousel-container {
        height: 90vh;
    }

    #hero h2 {
        font-size: 2.5rem;
    }
}

.hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}